node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

# supabase
supabase/.branches
supabase/.temp

# logs
npm-debug.log*
*.log
.vercel

# TS incremental build cache
*.tsbuildinfo
